In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [159]:
#from google.colab import drive
#drive.mount('/content/drive')

### Import CSV files

In [160]:
df_customer_commercial_activity = pd.read_csv("./customer_commercial_activity.csv")
df_customer_products = pd.read_csv("./customer_products.csv")
df_customer_sociodemographics = pd.read_csv("./customer_sociodemographics.csv")
df_sales = pd.read_csv("./sales.csv")
df_product_description = pd.read_csv("./product_description.csv")

In [161]:
dic_dfs_customer = {
    'df_customer_commercial_activity': df_customer_commercial_activity,
    'df_customer_products': df_customer_products,
    'df_customer_sociodemographics': df_customer_sociodemographics
}

In [162]:
dic_dfs_all = {
    "df_customer_commercial_activity" : df_customer_commercial_activity ,
    "df_customer_products" : df_customer_products,
    "df_customer_sociodemographics" : df_customer_sociodemographics,
    "df_sales" : df_sales,
    "df_product_description" : df_product_description }

### Preliminary EDA (Exploratory Data Analysis)

There are 3 dataset with customer-related features and 2 datasets with sales/products-related features. All "customer"-datasets have the same amount of records. Those records arenÂ´t unique. The combination of pk_cid + pk_partition is.

In [163]:
def shape_dfs(dic):
  for name, df in dic.items():
    print(f"{name} shape: {df.shape}\n")

In [164]:
def nunique_dfs(dic):
    for name, df in dic.items():
        print(f"{name} nunique pk_cid: {df.pk_cid.nunique()}\n")

In [165]:
shape_dfs(dic_dfs_all)

df_customer_commercial_activity shape: (5962924, 7)

df_customer_products shape: (5962924, 18)

df_customer_sociodemographics shape: (5962924, 9)

df_sales shape: (240773, 6)

df_product_description shape: (13, 4)

In [166]:
nunique_dfs(dic_dfs_customer)

df_customer_commercial_activity nunique pk_cid: 456373

df_customer_products nunique pk_cid: 456373

df_customer_sociodemographics nunique pk_cid: 456373

In [167]:
#contains the comercial activity of each client (pk-cid) per month (pk-partition). 
df_customer_commercial_activity.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
pk_cid,1375586,1050611,1050612,1050613,1050614
pk_partition,2018-01,2018-01,2018-01,2018-01,2018-01
entry_date,2018-01,2015-08,2015-08,2015-08,2015-08
entry_channel,KHL,KHE,KHE,KHD,KHE
active_customer,1.0,0.0,0.0,0.0,1.0
segment,02 - PARTICULARES,03 - UNIVERSITARIO,03 - UNIVERSITARIO,03 - UNIVERSITARIO,03 - UNIVERSITARIO

In [168]:
#Contains the products contracted by each client per month.
df_customer_products.head().T

                          0        1        2        3        4
Unnamed: 0                0        1        2        3        4
pk_cid              1375586  1050611  1050612  1050613  1050614
pk_partition        2018-01  2018-01  2018-01  2018-01  2018-01
short_term_deposit        0        0        0        1        0
loans                     0        0        0        0        0
mortgage                  0        0        0        0        0
funds                     0        0        0        0        0
securities                0        0        0        0        0
long_term_deposit         0        0        0        0        0
em_account_pp             0        0        0        0        0
credit_card               0        0        0        0        0
payroll                 0.0      0.0      0.0      0.0      0.0
pension_plan            0.0      0.0      0.0      0.0      0.0
payroll_account           0        0        0        0        0
emc_account               0        0        0        0        0
debit_card                0        0        0        0        0
em_account_p              0        0        0        0        0
em_acount                 1        1        1        0        1

In [169]:
#contains client data such as region_code and salary. For each client each month
df_customer_sociodemographics.head().T

                    0         1          2          3        4
Unnamed: 0          0         1          2          3        4
pk_cid        1375586   1050611    1050612    1050613  1050614
pk_partition  2018-01   2018-01    2018-01    2018-01  2018-01
country_id         ES        ES         ES         ES       ES
region_code      29.0      13.0       13.0       50.0     50.0
gender              H         V          V          H        V
age                35        23         23         22       23
deceased            N         N          N          N        N
salary        87218.1  35548.74  122179.11  119775.54      NaN

In [170]:
#contains a record for each sale, that includes client id and month of the sale. 
df_sales.head().T

                     0           1           2           3           4
Unnamed: 0           0           1           2           3           4
pk_sale           6666        6667        6668        6669        6670
cid              33620       35063       37299       39997       44012
month_sale  2018-05-01  2018-06-01  2018-02-01  2018-02-01  2018-02-01
product_ID        2335        2335        2335        2335        2335
net_margin       952.9      1625.2      1279.7      1511.9      1680.3

In [171]:
#all pk_sale records are unique.
df_sales.nunique(dropna = False)

Unnamed: 0    240773
pk_sale       240773
cid           152754
month_sale        16
product_ID        13
net_margin     25451
dtype: int64

In [172]:
#contains a description of the products
df_product_description.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
pk_product_ID,4657,3819,1364,2234,2235
product_desc,em_acount,debit_card,pension_plan,payroll,payroll_account
family_product,account,payment_card,pension_plan,account,account

In [173]:
df_product_description.shape

(13, 4)

In [174]:
dic_dfs_all.keys()

dict_keys(['df_customer_commercial_activity', 'df_customer_products', 'df_customer_sociodemographics', 'df_sales', 'df_product_description'])

In [175]:
type(dic_dfs_all)

dict

In [ ]:
# Remove "Unnamed" column from all dataframes
df_customer_commercial_activity.drop("Unnamed: 0", axis = 1, inplace = True)
df_customer_products.drop("Unnamed: 0", axis = 1, inplace = True)
df_customer_sociodemographics.drop("Unnamed: 0", axis = 1, inplace = True)
df_sales.drop("Unnamed: 0", axis = 1, inplace = True)
df_product_description.drop("Unnamed: 0", axis = 1, inplace = True)

In [177]:
# check that all datasets hat one column less
shape_dfs(dic_dfs_all)

df_customer_commercial_activity shape: (5962924, 6)

df_customer_products shape: (5962924, 17)

df_customer_sociodemographics shape: (5962924, 8)

df_sales shape: (240773, 5)

df_product_description shape: (13, 3)

### Merge datasets

In [178]:
# Customer-related datasets:
# They have the same number of unique values for pk_cid, but pk_cid values appear more than once. 
# This is because the same pk_cid (client ID) appears in more than one pk_partition (month). It appears every month the client remains a client
for name, df in dic_dfs_customer.items():
  print(f"{name} nunique pk_cid: {df.pk_cid.nunique()}\n")

df_customer_commercial_activity nunique pk_cid: 456373

df_customer_products nunique pk_cid: 456373

df_customer_sociodemographics nunique pk_cid: 456373

In [179]:
# Check for duplicate entire records. NONE FOUND
df_customer_commercial_activity[df_customer_commercial_activity.duplicated( keep=False)]

Empty DataFrame
Columns: [pk_cid, pk_partition, entry_date, entry_channel, active_customer, segment]
Index: []

In [180]:
df_customer_products[df_customer_products.duplicated( keep=False)]

Empty DataFrame
Columns: [pk_cid, pk_partition, short_term_deposit, loans, mortgage, funds, securities, long_term_deposit, em_account_pp, credit_card, payroll, pension_plan, payroll_account, emc_account, debit_card, em_account_p, em_acount]
Index: []

In [181]:
df_customer_sociodemographics[df_customer_sociodemographics.duplicated( keep=False)]

Empty DataFrame
Columns: [pk_cid, pk_partition, country_id, region_code, gender, age, deceased, salary]
Index: []

In [182]:
df_sales[df_sales .duplicated( keep=False)]

Empty DataFrame
Columns: [pk_sale, cid, month_sale, product_ID, net_margin]
Index: []

In [183]:
df_product_description [df_product_description .duplicated( keep=False)]

Empty DataFrame
Columns: [pk_product_ID, product_desc, family_product]
Index: []

In [184]:
dic_dfs_all.keys()

dict_keys(['df_customer_commercial_activity', 'df_customer_products', 'df_customer_sociodemographics', 'df_sales', 'df_product_description'])

In [185]:
# Add suffix to columns, except for pk_cid and pk_partition, to indicate their dataset of origin
df_customer_commercial_activity.rename(columns=lambda x: "CUST_" + x  if df_customer_commercial_activity.columns.get_loc(x) > 1 else x, inplace = True)
df_customer_products.rename(columns=lambda x: "PROD_" + x if df_customer_products.columns.get_loc(x) > 1 else x, inplace = True)
df_customer_sociodemographics.rename(columns=lambda x:  "CUST_SOCDEM_" + x if df_customer_sociodemographics.columns.get_loc(x) > 1 else x, inplace = True)

In [186]:
#check that the suffix are added. 
df_customer_products.head()

,pk_cid,pk_partition,PROD_short_term_deposit,PROD_loans,PROD_mortgage,PROD_funds,PROD_securities,PROD_long_term_deposit,PROD_em_account_pp,PROD_credit_card,PROD_payroll,PROD_pension_plan,PROD_payroll_account,PROD_emc_account,PROD_debit_card,PROD_em_account_p,PROD_em_acount
0,1375586,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1050611,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,1050612,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,1050613,2018-01,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,1050614,2018-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [187]:
df_customer_products.columns

Index(['pk_cid', 'pk_partition', 'PROD_short_term_deposit', 'PROD_loans',
       'PROD_mortgage', 'PROD_funds', 'PROD_securities',
       'PROD_long_term_deposit', 'PROD_em_account_pp', 'PROD_credit_card',
       'PROD_payroll', 'PROD_pension_plan', 'PROD_payroll_account',
       'PROD_emc_account', 'PROD_debit_card', 'PROD_em_account_p',
       'PROD_em_acount'],
      dtype='object')

In [188]:
# Create a list with all the PROD_columns. These are the columns that indicate if a client has a specific product in a specific month.
# We will need it later. 
PROD_col = [col for col in df_customer_products.columns if col.startswith('PROD')]
PROD_col

['PROD_short_term_deposit',
 'PROD_loans',
 'PROD_mortgage',
 'PROD_funds',
 'PROD_securities',
 'PROD_long_term_deposit',
 'PROD_em_account_pp',
 'PROD_credit_card',
 'PROD_payroll',
 'PROD_pension_plan',
 'PROD_payroll_account',
 'PROD_emc_account',
 'PROD_debit_card',
 'PROD_em_account_p',
 'PROD_em_acount']

#### Shift PROD columns

Our goal is to predict whether a customer will buy a product or not. In order to do that, we need to work with past data. That is why we are shifting the PROD data for each client. We want to observe the client's profile before they make the purchase.

In [189]:
# Dataframe for a random customer
df_customer_products[df_customer_products["pk_cid"] == 	1375586].T

,0,346322,592407,831104,1108457,1357280,1791360,1988936,2487565,2753984,3156714,3719100,3950225,4436665,4840281,5336125,5569690
pk_cid,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586
pk_partition,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
PROD_short_term_deposit,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_loans,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_mortgage,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_funds,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_securities,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_long_term_deposit,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_em_account_pp,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_credit_card,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_payroll,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_emc_account,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_debit_card,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1
PROD_em_account_p,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_em_acount,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [190]:
# Shift PROD columns
for col in PROD_col:
  df_customer_products[f"{col}_lag1"] = df_customer_products.groupby("pk_cid")[col].shift(1)

In [191]:
# Verify shift
df_customer_products[df_customer_products["pk_cid"] == 	1375586].T
# After the shift, the first month that a client appears in our dataframe, all PROD-columns are NaN. 
# It is OK to replace this null values with "cero".

,0,346322,592407,831104,1108457,1357280,1791360,1988936,2487565,2753984,3156714,3719100,3950225,4436665,4840281,5336125,5569690
pk_cid,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586,1375586
pk_partition,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
PROD_short_term_deposit,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_loans,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_mortgage,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_funds,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_securities,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_long_term_deposit,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_em_account_pp,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_credit_card,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_payroll,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_emc_account,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_debit_card,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1
PROD_em_account_p,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PROD_em_acount,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
PROD_short_term_deposit_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_loans_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_mortgage_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_funds_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_securities_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_long_term_deposit_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_em_account_pp_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_credit_card_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_payroll_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_emc_account_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_debit_card_lag1,NaN,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_em_account_p_lag1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PROD_em_acount_lag1,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [192]:
df_customer_products.isnull().sum()

pk_cid                               0
pk_partition                         0
PROD_short_term_deposit              0
PROD_loans                           0
PROD_mortgage                        0
PROD_funds                           0
PROD_securities                      0
PROD_long_term_deposit               0
PROD_em_account_pp                   0
PROD_credit_card                     0
PROD_payroll                        61
PROD_pension_plan                   61
PROD_payroll_account                 0
PROD_emc_account                     0
PROD_debit_card                      0
PROD_em_account_p                    0
PROD_em_acount                       0
PROD_short_term_deposit_lag1    456373
PROD_loans_lag1                 456373
PROD_mortgage_lag1              456373
PROD_funds_lag1                 456373
PROD_securities_lag1            456373
PROD_long_term_deposit_lag1     456373
PROD_em_account_pp_lag1         456373
PROD_credit_card_lag1           456373
PROD_payroll_lag1               456434
PROD_pension_plan_lag1          456434
PROD_payroll_account_lag1       456373
PROD_emc_account_lag1           456373
PROD_debit_card_lag1            456373
PROD_em_account_p_lag1          456373
PROD_em_acount_lag1             456373
dtype: int64

In [193]:
# Delete original columns
df_customer_products.drop(PROD_col, axis = 1, inplace = True)

In [194]:
# Replace null values in PROD_lag1 columns with 0. 
PROD_col = [col for col in df_customer_products.columns if col.startswith('PROD')]
PROD_col

df_customer_products[PROD_col] = df_customer_products[PROD_col].fillna(0)

In [195]:
df_customer_products.isnull().sum()

pk_cid                          0
pk_partition                    0
PROD_short_term_deposit_lag1    0
PROD_loans_lag1                 0
PROD_mortgage_lag1              0
PROD_funds_lag1                 0
PROD_securities_lag1            0
PROD_long_term_deposit_lag1     0
PROD_em_account_pp_lag1         0
PROD_credit_card_lag1           0
PROD_payroll_lag1               0
PROD_pension_plan_lag1          0
PROD_payroll_account_lag1       0
PROD_emc_account_lag1           0
PROD_debit_card_lag1            0
PROD_em_account_p_lag1          0
PROD_em_acount_lag1             0
dtype: int64

#### Merge customer-related datasets

In [196]:
df_clientes = pd.merge(df_customer_commercial_activity,
                       df_customer_products,
                       how='inner',
                       on=["pk_cid", "pk_partition"]
                       )

In [197]:
df_clientes.shape

(5962924, 21)

In [198]:
df_clientes = pd.merge(df_clientes,
                       df_customer_sociodemographics,
                       how='inner',
                       on=["pk_cid", "pk_partition"]
                       )

In [199]:
df_clientes.shape

(5962924, 27)

In [200]:
df_clientes.head().T

,0,1,2,3,4
pk_cid,1375586,1050611,1050612,1050613,1050614
pk_partition,2018-01,2018-01,2018-01,2018-01,2018-01
CUST_entry_date,2018-01,2015-08,2015-08,2015-08,2015-08
CUST_entry_channel,KHL,KHE,KHE,KHD,KHE
CUST_active_customer,1.0,0.0,0.0,0.0,1.0
CUST_segment,02 - PARTICULARES,03 - UNIVERSITARIO,03 - UNIVERSITARIO,03 - UNIVERSITARIO,03 - UNIVERSITARIO
PROD_short_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_loans_lag1,0.0,0.0,0.0,0.0,0.0
PROD_mortgage_lag1,0.0,0.0,0.0,0.0,0.0
PROD_funds_lag1,0.0,0.0,0.0,0.0,0.0
PROD_securities_lag1,0.0,0.0,0.0,0.0,0.0
PROD_long_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_pp_lag1,0.0,0.0,0.0,0.0,0.0
PROD_credit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_lag1,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_emc_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_debit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_p_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_acount_lag1,0.0,0.0,0.0,0.0,0.0
CUST_SOCDEM_country_id,ES,ES,ES,ES,ES
CUST_SOCDEM_region_code,29.0,13.0,13.0,50.0,50.0
CUST_SOCDEM_gender,H,V,V,H,V
CUST_SOCDEM_age,35,23,23,22,23
CUST_SOCDEM_deceased,N,N,N,N,N
CUST_SOCDEM_salary,87218.1,35548.74,122179.11,119775.54,NaN

#### Merge sales and products datesets to df_ventas

In [201]:
dic_dfs_all.keys()

dict_keys(['df_customer_commercial_activity', 'df_customer_products', 'df_customer_sociodemographics', 'df_sales', 'df_product_description'])

In [202]:
df_sales.tail()

        pk_sale      cid  month_sale  product_ID  net_margin
240768   247434  1553456  2019-05-01        4657        56.7
240769   247435  1553541  2019-05-01        4657        66.5
240770   247436  1553559  2019-05-01        4657        73.0
240771   247437  1553565  2019-05-01        4657        82.3
240772   247438  1553571  2019-05-01        4657        84.4

In [203]:
df_product_description.head()

   pk_product_ID     product_desc family_product
0           4657        em_acount        account
1           3819       debit_card   payment_card
2           1364     pension_plan   pension_plan
3           2234          payroll        account
4           2235  payroll_account        account

In [204]:
# Rename columns: add "SALE"-prefix
df_sales.rename(columns=lambda x: "SALE_" + x , inplace = True)
df_product_description.rename(columns=lambda x:  "SALE_" + x,  inplace = True)

In [205]:
df_sales.head()

   SALE_pk_sale  SALE_cid SALE_month_sale  SALE_product_ID  SALE_net_margin
0          6666     33620      2018-05-01             2335            952.9
1          6667     35063      2018-06-01             2335           1625.2
2          6668     37299      2018-02-01             2335           1279.7
3          6669     39997      2018-02-01             2335           1511.9
4          6670     44012      2018-02-01             2335           1680.3

In [206]:
df_product_description.head()

   SALE_pk_product_ID SALE_product_desc SALE_family_product
0                4657         em_acount             account
1                3819        debit_card        payment_card
2                1364      pension_plan        pension_plan
3                2234           payroll             account
4                2235   payroll_account             account

In [207]:
shape_dfs(dic_dfs_all)

df_customer_commercial_activity shape: (5962924, 6)

df_customer_products shape: (5962924, 17)

df_customer_sociodemographics shape: (5962924, 8)

df_sales shape: (240773, 5)

df_product_description shape: (13, 3)

In [ ]:
# Merge sales and product dataframes
df_ventas = pd.merge(df_sales,
              df_product_description,
              how='left',
              left_on = "SALE_product_ID",
              right_on = "SALE_pk_product_ID"
                       )

In [209]:
df_ventas.shape

(240773, 8)

In [210]:
df_ventas.head()

,SALE_pk_sale,SALE_cid,SALE_month_sale,SALE_product_ID,SALE_net_margin,SALE_pk_product_ID,SALE_product_desc,SALE_family_product
0,6666,33620,2018-05-01,2335,952.9,2335,short_term_deposit,investment
1,6667,35063,2018-06-01,2335,1625.2,2335,short_term_deposit,investment
2,6668,37299,2018-02-01,2335,1279.7,2335,short_term_deposit,investment
3,6669,39997,2018-02-01,2335,1511.9,2335,short_term_deposit,investment
4,6670,44012,2018-02-01,2335,1680.3,2335,short_term_deposit,investment

In [211]:
df_ventas.isnull().sum()

SALE_pk_sale           0
SALE_cid               0
SALE_month_sale        0
SALE_product_ID        0
SALE_net_margin        0
SALE_pk_product_ID     0
SALE_product_desc      0
SALE_family_product    0
dtype: int64

In [212]:
df_ventas.drop("SALE_pk_product_ID", axis = 1, inplace = True)

In [213]:
df_ventas.rename(columns = {"SALE_cid" : "pk_cid"}, inplace = True)

#### Merge df_sales and df_clients on pk_cid and pk_partition

In [214]:
# Extract pk_partition column for df_sales
df_ventas['pk_partition'] = df_ventas['SALE_month_sale'].str[:7]

In [215]:
df_ventas.head()

,SALE_pk_sale,pk_cid,SALE_month_sale,SALE_product_ID,SALE_net_margin,SALE_product_desc,SALE_family_product,pk_partition
0,6666,33620,2018-05-01,2335,952.9,short_term_deposit,investment,2018-05
1,6667,35063,2018-06-01,2335,1625.2,short_term_deposit,investment,2018-06
2,6668,37299,2018-02-01,2335,1279.7,short_term_deposit,investment,2018-02
3,6669,39997,2018-02-01,2335,1511.9,short_term_deposit,investment,2018-02
4,6670,44012,2018-02-01,2335,1680.3,short_term_deposit,investment,2018-02

In [216]:
# If a customer buys two products in a month, the column in clients is duplicated and a sale is added to each one.

In [217]:
df_ventas[df_ventas[['pk_cid', "pk_partition"]].duplicated(keep = "first")]
# Shows duplicates except for the first occurrence.

,SALE_pk_sale,pk_cid,SALE_month_sale,SALE_product_ID,SALE_net_margin,SALE_product_desc,SALE_family_product,pk_partition
5055,11721,1364927,2018-04-01,1119,2077.2,funds,investment,2018-04
5100,11766,1376140,2018-04-01,1119,1471.7,funds,investment,2018-04
5130,11796,1382466,2018-03-01,1119,1077.0,funds,investment,2018-03
5140,11806,1384049,2018-03-01,1119,1484.9,funds,investment,2018-03
5141,11807,1384145,2018-03-01,1119,1491.5,funds,investment,2018-03
...,...,...,...,...,...,...,...,...
240467,247133,1551599,2019-05-01,4657,57.2,em_acount,account,2019-05
240490,247156,1551712,2019-05-01,4657,71.7,em_acount,account,2019-05
240530,247196,1551832,2019-05-01,4657,73.3,em_acount,account,2019-05
240577,247243,1552055,2019-05-01,4657,80.0,em_acount,account,2019-05
240636,247302,1552364,2019-05-01,4657,77.0,em_acount,account,2019-05

In [218]:
# When merging datasets, this should be the number of new records.
len(df_ventas[df_ventas[['pk_cid', "pk_partition"]].duplicated(keep = "first")])

38079

In [219]:
# Example: same pk_cid, same pk_partition, two sales. This customer made 2 purchases in the same month.

In [220]:
df_ventas[(df_ventas['pk_cid']== 100296) & (df_ventas['pk_partition']== "2018-04")]

,SALE_pk_sale,pk_cid,SALE_month_sale,SALE_product_ID,SALE_net_margin,SALE_product_desc,SALE_family_product,pk_partition
6,6672,100296,2018-04-01,2335,1391.9,short_term_deposit,investment,2018-04
123420,130086,100296,2018-04-01,4657,71.2,em_acount,account,2018-04

In [221]:
df_clientes[(df_clientes['pk_cid']== 100296) & (df_clientes['pk_partition']== "2018-04")]

,pk_cid,pk_partition,CUST_entry_date,CUST_entry_channel,CUST_active_customer,CUST_segment,PROD_short_term_deposit_lag1,PROD_loans_lag1,PROD_mortgage_lag1,PROD_funds_lag1,...,PROD_emc_account_lag1,PROD_debit_card_lag1,PROD_em_account_p_lag1,PROD_em_acount_lag1,CUST_SOCDEM_country_id,CUST_SOCDEM_region_code,CUST_SOCDEM_gender,CUST_SOCDEM_age,CUST_SOCDEM_deceased,CUST_SOCDEM_salary
729044,100296,2018-04,2018-04,KHK,1.0,01 - TOP,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,ES,28.0,V,46,N,578955.15

In [222]:
df= pd.merge(df_clientes,
                       df_ventas,
                       how='left',
                       on=["pk_cid", "pk_partition" ]
                       )

In [223]:
## Verify that the df_clients record is duplicated with the first entry having one sale and the second entry another sale.

In [224]:
df[(df['pk_cid']== 100296) & (df['pk_partition']== "2018-04")]

,pk_cid,pk_partition,CUST_entry_date,CUST_entry_channel,CUST_active_customer,CUST_segment,PROD_short_term_deposit_lag1,PROD_loans_lag1,PROD_mortgage_lag1,PROD_funds_lag1,...,CUST_SOCDEM_gender,CUST_SOCDEM_age,CUST_SOCDEM_deceased,CUST_SOCDEM_salary,SALE_pk_sale,SALE_month_sale,SALE_product_ID,SALE_net_margin,SALE_product_desc,SALE_family_product
734529,100296,2018-04,2018-04,KHK,1.0,01 - TOP,0.0,0.0,0.0,0.0,...,V,46,N,578955.15,6672.0,2018-04-01,2335.0,1391.9,short_term_deposit,investment
734530,100296,2018-04,2018-04,KHK,1.0,01 - TOP,0.0,0.0,0.0,0.0,...,V,46,N,578955.15,130086.0,2018-04-01,4657.0,71.2,em_acount,account

In [225]:
df.shape

(6001003, 33)

In [226]:
len(df_ventas[df_ventas[['pk_cid', "pk_partition"]].duplicated(keep = "first")])

38079

In [227]:
# Confirm df has 38079 more records than df_clients
df.shape[0]- df_clientes.shape[0]

38079

In [228]:
df.tail().T

,6000998,6000999,6001000,6001001,6001002
pk_cid,1166765,1166764,1166763,1166789,1550586
pk_partition,2019-05,2019-05,2019-05,2019-05,2019-05
CUST_entry_date,2016-08,2016-08,2016-08,2016-08,2019-05
CUST_entry_channel,KHE,KHE,KHE,KHE,NaN
CUST_active_customer,0.0,0.0,1.0,0.0,1.0
CUST_segment,03 - UNIVERSITARIO,03 - UNIVERSITARIO,02 - PARTICULARES,03 - UNIVERSITARIO,NaN
PROD_short_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_loans_lag1,0.0,0.0,0.0,0.0,0.0
PROD_mortgage_lag1,0.0,0.0,0.0,0.0,0.0
PROD_funds_lag1,0.0,0.0,0.0,0.0,0.0
PROD_securities_lag1,0.0,0.0,0.0,0.0,0.0
PROD_long_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_pp_lag1,0.0,0.0,0.0,0.0,0.0
PROD_credit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_lag1,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_emc_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_debit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_p_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_acount_lag1,1.0,1.0,1.0,1.0,0.0
CUST_SOCDEM_country_id,ES,ES,ES,ES,ES
CUST_SOCDEM_region_code,50.0,26.0,50.0,50.0,28.0
CUST_SOCDEM_gender,V,V,H,H,H
CUST_SOCDEM_age,22,23,47,22,37
CUST_SOCDEM_deceased,N,N,N,N,N
CUST_SOCDEM_salary,43912.17,23334.99,NaN,199592.82,NaN
SALE_pk_sale,NaN,NaN,NaN,NaN,246811.0
SALE_month_sale,NaN,NaN,NaN,NaN,2019-05-01
SALE_product_ID,NaN,NaN,NaN,NaN,4657.0
SALE_net_margin,NaN,NaN,NaN,NaN,77.5
SALE_product_desc,NaN,NaN,NaN,NaN,em_acount
SALE_family_product,NaN,NaN,NaN,NaN,account

In [229]:
df.isnull().sum()

pk_cid                                0
pk_partition                          0
CUST_entry_date                       0
CUST_entry_channel               135424
CUST_active_customer                  0
CUST_segment                     136379
PROD_short_term_deposit_lag1          0
PROD_loans_lag1                       0
PROD_mortgage_lag1                    0
PROD_funds_lag1                       0
PROD_securities_lag1                  0
PROD_long_term_deposit_lag1           0
PROD_em_account_pp_lag1               0
PROD_credit_card_lag1                 0
PROD_payroll_lag1                     0
PROD_pension_plan_lag1                0
PROD_payroll_account_lag1             0
PROD_emc_account_lag1                 0
PROD_debit_card_lag1                  0
PROD_em_account_p_lag1                0
PROD_em_acount_lag1                   0
CUST_SOCDEM_country_id                0
CUST_SOCDEM_region_code            2272
CUST_SOCDEM_gender                   25
CUST_SOCDEM_age                       0
CUST_SOCDEM_deceased                  0
CUST_SOCDEM_salary              1554229
SALE_pk_sale                    5760230
SALE_month_sale                 5760230
SALE_product_ID                 5760230
SALE_net_margin                 5760230
SALE_product_desc               5760230
SALE_family_product             5760230
dtype: int64

### Preliminary Feature Engineering

In [230]:
df1 = df.copy()

In [231]:
# Convert date columns
df1['SALE_month_sale'] = pd.to_datetime(df1['SALE_month_sale'], format='%Y-%m-%d')

df1["pk_partition"] = pd.to_datetime(df1['pk_partition'], format='%Y-%m')

df1["CUST_entry_date"] = pd.to_datetime(df1['CUST_entry_date'], format='%Y-%m')

In [232]:
df1.tail().T

,6000998,6000999,6001000,6001001,6001002
pk_cid,1166765,1166764,1166763,1166789,1550586
pk_partition,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-05-01 00:00:00
CUST_entry_date,2016-08-01 00:00:00,2016-08-01 00:00:00,2016-08-01 00:00:00,2016-08-01 00:00:00,2019-05-01 00:00:00
CUST_entry_channel,KHE,KHE,KHE,KHE,NaN
CUST_active_customer,0.0,0.0,1.0,0.0,1.0
CUST_segment,03 - UNIVERSITARIO,03 - UNIVERSITARIO,02 - PARTICULARES,03 - UNIVERSITARIO,NaN
PROD_short_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_loans_lag1,0.0,0.0,0.0,0.0,0.0
PROD_mortgage_lag1,0.0,0.0,0.0,0.0,0.0
PROD_funds_lag1,0.0,0.0,0.0,0.0,0.0
PROD_securities_lag1,0.0,0.0,0.0,0.0,0.0
PROD_long_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_pp_lag1,0.0,0.0,0.0,0.0,0.0
PROD_credit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_lag1,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_emc_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_debit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_p_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_acount_lag1,1.0,1.0,1.0,1.0,0.0
CUST_SOCDEM_country_id,ES,ES,ES,ES,ES
CUST_SOCDEM_region_code,50.0,26.0,50.0,50.0,28.0
CUST_SOCDEM_gender,V,V,H,H,H
CUST_SOCDEM_age,22,23,47,22,37
CUST_SOCDEM_deceased,N,N,N,N,N
CUST_SOCDEM_salary,43912.17,23334.99,NaN,199592.82,NaN
SALE_pk_sale,NaN,NaN,NaN,NaN,246811.0
SALE_month_sale,NaT,NaT,NaT,NaT,2019-05-01 00:00:00
SALE_product_ID,NaN,NaN,NaN,NaN,4657.0
SALE_net_margin,NaN,NaN,NaN,NaN,77.5
SALE_product_desc,NaN,NaN,NaN,NaN,em_acount
SALE_family_product,NaN,NaN,NaN,NaN,account

In [233]:
# Create boolean indicator "new cliente" ( "nuevo_cliente" )
df1["nuevo_cliente"] = np.where(df1["pk_partition"] == df1["CUST_entry_date"], 1, 0)

In [234]:
#create new indicator: client tenure in months ("antiguedad_cliente_meses" )
df1["antiguedad_cliente_dias"] = (df1["pk_partition"] - df1["CUST_entry_date"])
df1['antiguedad_cliente_dias'] = df1['antiguedad_cliente_dias'].dt.days

In [235]:
df1['antiguedad_cliente_meses']= round(df1['antiguedad_cliente_dias']/30).astype(int)
df1.drop("antiguedad_cliente_dias", axis = 1, inplace = True)

#### TARGET

In [ ]:
# Create a new boolean indicator "PURCHASE" (indicating whether the client purchased any product in a particular month or not). ("HAY_VENTA") 
# That indicator is our TARGET, which we will aim to predict when we run the model.
df1["HAY_VENTA"] = np.where((df1["SALE_pk_sale"].notnull()), 1, 0)

In [237]:
# For date columns, keep only the date, not the time
df1['SALE_month_sale'] = df1['SALE_month_sale'].dt.date

df1["pk_partition"] = df1["pk_partition"].dt.date

df1["CUST_entry_date"] = df1["CUST_entry_date"].dt.date

In [238]:
df1.tail().T

,6000998,6000999,6001000,6001001,6001002
pk_cid,1166765,1166764,1166763,1166789,1550586
pk_partition,2019-05-01,2019-05-01,2019-05-01,2019-05-01,2019-05-01
CUST_entry_date,2016-08-01,2016-08-01,2016-08-01,2016-08-01,2019-05-01
CUST_entry_channel,KHE,KHE,KHE,KHE,NaN
CUST_active_customer,0.0,0.0,1.0,0.0,1.0
CUST_segment,03 - UNIVERSITARIO,03 - UNIVERSITARIO,02 - PARTICULARES,03 - UNIVERSITARIO,NaN
PROD_short_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_loans_lag1,0.0,0.0,0.0,0.0,0.0
PROD_mortgage_lag1,0.0,0.0,0.0,0.0,0.0
PROD_funds_lag1,0.0,0.0,0.0,0.0,0.0
PROD_securities_lag1,0.0,0.0,0.0,0.0,0.0
PROD_long_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_pp_lag1,0.0,0.0,0.0,0.0,0.0
PROD_credit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_lag1,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_emc_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_debit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_p_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_acount_lag1,1.0,1.0,1.0,1.0,0.0
CUST_SOCDEM_country_id,ES,ES,ES,ES,ES
CUST_SOCDEM_region_code,50.0,26.0,50.0,50.0,28.0
CUST_SOCDEM_gender,V,V,H,H,H
CUST_SOCDEM_age,22,23,47,22,37
CUST_SOCDEM_deceased,N,N,N,N,N
CUST_SOCDEM_salary,43912.17,23334.99,NaN,199592.82,NaN
SALE_pk_sale,NaN,NaN,NaN,NaN,246811.0
SALE_month_sale,NaT,NaT,NaT,NaT,2019-05-01
SALE_product_ID,NaN,NaN,NaN,NaN,4657.0
SALE_net_margin,NaN,NaN,NaN,NaN,77.5
SALE_product_desc,NaN,NaN,NaN,NaN,em_acount
SALE_family_product,NaN,NaN,NaN,NaN,account
nuevo_cliente,0,0,0,0,1
antiguedad_cliente_meses,33,33,33,33,0
HAY_VENTA,0,0,0,0,1

In [239]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6001003 entries, 0 to 6001002
Data columns (total 36 columns):
 #   Column                        Dtype
---  ------                        -----
 0   pk_cid                        int64
 1   pk_partition                  object
 2   CUST_entry_date               object
 3   CUST_entry_channel            object
 4   CUST_active_customer          float64
 5   CUST_segment                  object
 6   PROD_short_term_deposit_lag1  float64
 7   PROD_loans_lag1               float64
 8   PROD_mortgage_lag1            float64
 9   PROD_funds_lag1               float64
 10  PROD_securities_lag1          float64
 11  PROD_long_term_deposit_lag1   float64
 12  PROD_em_account_pp_lag1       float64
 13  PROD_credit_card_lag1         float64
 14  PROD_payroll_lag1             float64
 15  PROD_pension_plan_lag1        float64
 16  PROD_payroll_account_lag1     float64
 17  PROD_emc_account_lag1         float64
 18  PROD_debit_card_lag1          float64
 19  PROD_em_account_p_lag1        float64
 20  PROD_em_acount_lag1           float64
 21  CUST_SOCDEM_country_id        object
 22  CUST_SOCDEM_region_code       float64
 23  CUST_SOCDEM_gender            object
 24  CUST_SOCDEM_age               int64
 25  CUST_SOCDEM_deceased          object
 26  CUST_SOCDEM_salary            float64
 27  SALE_pk_sale                  float64
 28  SALE_month_sale               object
 29  SALE_product_ID               float64
 30  SALE_net_margin               float64
 31  SALE_product_desc             object
 32  SALE_family_product           object
 33  nuevo_cliente                 int32
 34  antiguedad_cliente_meses      int32
 35  HAY_VENTA                     int32
dtypes: float64(21), int32(3), int64(2), object(10)
memory usage: 1.5+ GB

In [240]:
# Add province name column
cod_prov = pd.read_excel("./2019_codigo_provincia.xlsx", header=None)
cod_prov.columns = ["CUST_SOCDEM_region_code", "provincia"]

In [241]:
cod_prov.head()

   CUST_SOCDEM_region_code    provincia
0                        2     Albacete
1                        3     Alicante
2                        4      AlmerÃ­a
3                        1  Araba/Ãlava
4                       33     Asturias

In [242]:
df1.shape

(6001003, 36)

In [243]:
df1["CUST_SOCDEM_region_code"].value_counts()

CUST_SOCDEM_region_code
28.0    1197444
8.0      603610
46.0     360380
30.0     298101
41.0     292312
15.0     255735
29.0     189136
36.0     176466
3.0      172825
11.0     161839
33.0     135229
50.0     133615
6.0      122930
35.0     122902
47.0     117613
18.0     103507
45.0     102991
37.0      92944
10.0      83545
14.0      75818
21.0      72409
2.0       72356
13.0      70372
39.0      70184
12.0      69145
7.0       62943
32.0      54786
27.0      52916
43.0      52052
17.0      50971
9.0       48057
25.0      47052
16.0      36188
24.0      35737
48.0      35563
26.0      34967
4.0       32986
31.0      31399
23.0      31281
49.0      31090
38.0      29353
34.0      27685
19.0      27000
40.0      21794
5.0       21424
22.0      21203
20.0      19019
1.0       13084
44.0      12640
42.0       8544
51.0       2930
52.0       2659
Name: count, dtype: int64

In [244]:
df1= pd.merge(df1,
                       cod_prov,
                       how='left',
                       on=["CUST_SOCDEM_region_code" ]
                       )

In [245]:
df1.shape

(6001003, 37)

In [246]:
df1.tail().T

,6000998,6000999,6001000,6001001,6001002
pk_cid,1166765,1166764,1166763,1166789,1550586
pk_partition,2019-05-01,2019-05-01,2019-05-01,2019-05-01,2019-05-01
CUST_entry_date,2016-08-01,2016-08-01,2016-08-01,2016-08-01,2019-05-01
CUST_entry_channel,KHE,KHE,KHE,KHE,NaN
CUST_active_customer,0.0,0.0,1.0,0.0,1.0
CUST_segment,03 - UNIVERSITARIO,03 - UNIVERSITARIO,02 - PARTICULARES,03 - UNIVERSITARIO,NaN
PROD_short_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_loans_lag1,0.0,0.0,0.0,0.0,0.0
PROD_mortgage_lag1,0.0,0.0,0.0,0.0,0.0
PROD_funds_lag1,0.0,0.0,0.0,0.0,0.0
PROD_securities_lag1,0.0,0.0,0.0,0.0,0.0
PROD_long_term_deposit_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_pp_lag1,0.0,0.0,0.0,0.0,0.0
PROD_credit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_lag1,0.0,0.0,0.0,0.0,0.0
PROD_pension_plan_lag1,0.0,0.0,0.0,0.0,0.0
PROD_payroll_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_emc_account_lag1,0.0,0.0,0.0,0.0,0.0
PROD_debit_card_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_account_p_lag1,0.0,0.0,0.0,0.0,0.0
PROD_em_acount_lag1,1.0,1.0,1.0,1.0,0.0
CUST_SOCDEM_country_id,ES,ES,ES,ES,ES
CUST_SOCDEM_region_code,50.0,26.0,50.0,50.0,28.0
CUST_SOCDEM_gender,V,V,H,H,H
CUST_SOCDEM_age,22,23,47,22,37
CUST_SOCDEM_deceased,N,N,N,N,N
CUST_SOCDEM_salary,43912.17,23334.99,NaN,199592.82,NaN
SALE_pk_sale,NaN,NaN,NaN,NaN,246811.0
SALE_month_sale,NaT,NaT,NaT,NaT,2019-05-01
SALE_product_ID,NaN,NaN,NaN,NaN,4657.0
SALE_net_margin,NaN,NaN,NaN,NaN,77.5
SALE_product_desc,NaN,NaN,NaN,NaN,em_acount
SALE_family_product,NaN,NaN,NaN,NaN,account
nuevo_cliente,0,0,0,0,1
antiguedad_cliente_meses,33,33,33,33,0
HAY_VENTA,0,0,0,0,1
provincia,Zaragoza,"Rioja, La",Zaragoza,Zaragoza,Madrid

### Export df to CSV > df_completo.csv

In [ ]:
# Save df to csv. Uncomment to save again.
#df1.to_csv("./df_completo_SHIFT.csv", index = False)